/* ImJiedara 2016
 *
 * @author : Jiedara http://www.jiedara.com
 * @version: 0.0.1
 * @since: 0.0.1
 */
/***********************************************/
/***************** IMPORT RESET ****************/
/**********************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/***********************************************/
/*************** IMPORT CLEARFIX ***************/
/**********************************************/
/***********************************************/
/************** IMPORT TRANSFORM **************/
/**********************************************/
/***********************************************/
/*************** IMPORT COMPASS ***************/
/**********************************************/
/***********************************************/
/************* IMPORT BASIC LAYOUT *************/
/**********************************************/
/***********************************************/
/***************** IMPORT THEME ****************/
/**********************************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
}

p {
  color: black;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #e1e1e1;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #e1e1e1, 0 0 5px #e1e1e1;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #e1e1e1;
  border-left-color: #e1e1e1;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-8bits {
  margin: 0 auto;
  margin-top: 5rem;
  width: 10rem;
}

.la-ball-8bits,
.la-ball-8bits > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.la-ball-8bits {
  display: block;
  font-size: 0;
  color: #fff;
}

.la-ball-8bits.la-dark {
  color: #333;
}

.la-ball-8bits > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.la-ball-8bits {
  width: 12px;
  height: 12px;
}

.la-ball-8bits > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 0;
  opacity: 0;
  -webkit-transform: translate(100%, 100%);
  -moz-transform: translate(100%, 100%);
  -ms-transform: translate(100%, 100%);
  -o-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
  -webkit-animation: ball-8bits 1s 0s ease infinite;
  -moz-animation: ball-8bits 1s 0s ease infinite;
  -o-animation: ball-8bits 1s 0s ease infinite;
  animation: ball-8bits 1s 0s ease infinite;
}

.la-ball-8bits > div:nth-child(1) {
  -webkit-animation-delay: -.9375s;
  -moz-animation-delay: -.9375s;
  -o-animation-delay: -.9375s;
  animation-delay: -.9375s;
}

.la-ball-8bits > div:nth-child(2) {
  -webkit-animation-delay: -.875s;
  -moz-animation-delay: -.875s;
  -o-animation-delay: -.875s;
  animation-delay: -.875s;
}

.la-ball-8bits > div:nth-child(3) {
  -webkit-animation-delay: -.8125s;
  -moz-animation-delay: -.8125s;
  -o-animation-delay: -.8125s;
  animation-delay: -.8125s;
}

.la-ball-8bits > div:nth-child(4) {
  -webkit-animation-delay: -.75s;
  -moz-animation-delay: -.75s;
  -o-animation-delay: -.75s;
  animation-delay: -.75s;
}

.la-ball-8bits > div:nth-child(5) {
  -webkit-animation-delay: -.6875s;
  -moz-animation-delay: -.6875s;
  -o-animation-delay: -.6875s;
  animation-delay: -.6875s;
}

.la-ball-8bits > div:nth-child(6) {
  -webkit-animation-delay: -.625s;
  -moz-animation-delay: -.625s;
  -o-animation-delay: -.625s;
  animation-delay: -.625s;
}

.la-ball-8bits > div:nth-child(7) {
  -webkit-animation-delay: -.5625s;
  -moz-animation-delay: -.5625s;
  -o-animation-delay: -.5625s;
  animation-delay: -.5625s;
}

.la-ball-8bits > div:nth-child(8) {
  -webkit-animation-delay: -.5s;
  -moz-animation-delay: -.5s;
  -o-animation-delay: -.5s;
  animation-delay: -.5s;
}

.la-ball-8bits > div:nth-child(9) {
  -webkit-animation-delay: -.4375s;
  -moz-animation-delay: -.4375s;
  -o-animation-delay: -.4375s;
  animation-delay: -.4375s;
}

.la-ball-8bits > div:nth-child(10) {
  -webkit-animation-delay: -.375s;
  -moz-animation-delay: -.375s;
  -o-animation-delay: -.375s;
  animation-delay: -.375s;
}

.la-ball-8bits > div:nth-child(11) {
  -webkit-animation-delay: -.3125s;
  -moz-animation-delay: -.3125s;
  -o-animation-delay: -.3125s;
  animation-delay: -.3125s;
}

.la-ball-8bits > div:nth-child(12) {
  -webkit-animation-delay: -.25s;
  -moz-animation-delay: -.25s;
  -o-animation-delay: -.25s;
  animation-delay: -.25s;
}

.la-ball-8bits > div:nth-child(13) {
  -webkit-animation-delay: -.1875s;
  -moz-animation-delay: -.1875s;
  -o-animation-delay: -.1875s;
  animation-delay: -.1875s;
}

.la-ball-8bits > div:nth-child(14) {
  -webkit-animation-delay: -.125s;
  -moz-animation-delay: -.125s;
  -o-animation-delay: -.125s;
  animation-delay: -.125s;
}

.la-ball-8bits > div:nth-child(15) {
  -webkit-animation-delay: -.0625s;
  -moz-animation-delay: -.0625s;
  -o-animation-delay: -.0625s;
  animation-delay: -.0625s;
}

.la-ball-8bits > div:nth-child(16) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

.la-ball-8bits > div:nth-child(1) {
  top: -100%;
  left: 0;
}

.la-ball-8bits > div:nth-child(2) {
  top: -100%;
  left: 33.3333333333%;
}

.la-ball-8bits > div:nth-child(3) {
  top: -66.6666666667%;
  left: 66.6666666667%;
}

.la-ball-8bits > div:nth-child(4) {
  top: -33.3333333333%;
  left: 100%;
}

.la-ball-8bits > div:nth-child(5) {
  top: 0;
  left: 100%;
}

.la-ball-8bits > div:nth-child(6) {
  top: 33.3333333333%;
  left: 100%;
}

.la-ball-8bits > div:nth-child(7) {
  top: 66.6666666667%;
  left: 66.6666666667%;
}

.la-ball-8bits > div:nth-child(8) {
  top: 100%;
  left: 33.3333333333%;
}

.la-ball-8bits > div:nth-child(9) {
  top: 100%;
  left: 0;
}

.la-ball-8bits > div:nth-child(10) {
  top: 100%;
  left: -33.3333333333%;
}

.la-ball-8bits > div:nth-child(11) {
  top: 66.6666666667%;
  left: -66.6666666667%;
}

.la-ball-8bits > div:nth-child(12) {
  top: 33.3333333333%;
  left: -100%;
}

.la-ball-8bits > div:nth-child(13) {
  top: 0;
  left: -100%;
}

.la-ball-8bits > div:nth-child(14) {
  top: -33.3333333333%;
  left: -100%;
}

.la-ball-8bits > div:nth-child(15) {
  top: -66.6666666667%;
  left: -66.6666666667%;
}

.la-ball-8bits > div:nth-child(16) {
  top: -100%;
  left: -33.3333333333%;
}

.la-ball-8bits.la-sm {
  width: 6px;
  height: 6px;
}

.la-ball-8bits.la-sm > div {
  width: 2px;
  height: 2px;
}

.la-ball-8bits.la-2x {
  width: 24px;
  height: 24px;
}

.la-ball-8bits.la-2x > div {
  width: 8px;
  height: 8px;
}

.la-ball-8bits.la-3x {
  width: 36px;
  height: 36px;
}

.la-ball-8bits.la-3x > div {
  width: 12px;
  height: 12px;
}

/*
 * Animation
 */
@-webkit-keyframes ball-8bits {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
}
@-moz-keyframes ball-8bits {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
}
@-o-keyframes ball-8bits {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
}
@keyframes ball-8bits {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
}
/* 
	Created on : Mar 5, 2014, 8:13:10 PM
	Author: ; : Yobio
*/
/*load google font */
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  transition: background 0.3s ease 0s;
  -webkit-transition: background 0.3s ease 0s;
  -moz-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  -ms-transition: background 0.3s ease 0s;
  background: #4B6F78;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #7f7f7f;
}

body a {
  outline: none !important;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Open Sans', sans-serif;
}

/* wrapper page section */
#wrapper {
  display: none;
  padding: 60px 0 0;
}

#wrapper #backtotop {
  position: absolute;
  right: -50px;
  width: 50px;
  text-align: center;
  color: white;
  background: #4B6F78;
  bottom: 0;
  z-index: 999;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  padding: 13px;
}

#wrapper #backtotop:hover {
  background: #BA4E4E;
  color: white;
}

@media (max-width: 800px) {
  #wrapper #backtotop {
    right: 0;
    bottom: -50px;
  }
}
@media (max-width: 650px) {
  #wrapper {
    padding: 40px 0 0;
  }
}
.tooltip-text {
  text-decoration: underline;
  cursor: pointer;
}

.no-padding {
  padding: 0;
}

.fa-customized:before, .fa-javascript:before, .fa-php:before, .fa-jquery:before, .fa-brackets:before, .fa-laravel:before, .fa-prestashop:before, .fa-illu:before, .fa-toshop:before, .fa-gulp:before, .fa-compass:before, .fa-composer:before, .fa-npm:before {
  display: 'block';
  float: left;
  content: ' ';
  width: 16px;
  height: 16px;
  opacity: 0.5;
  background-size: 100% 100%;
}

.fa-javascript:before {
  background-image: url(../img/icons/js.png);
}

.fa-php:before {
  background-image: url(../img/icons/php.png);
  background-size: 110% 130%;
}

.fa-jquery:before {
  background-image: url(../img/icons/jquery.svg);
}

.fa-brackets:before {
  background-image: url(../img/icons/brackets.svg);
}

.fa-laravel:before {
  background-image: url(../img/icons/laravel.jpg);
  opacity: 1;
}

.fa-prestashop:before {
  background-image: url(../img/icons/prestashop.png);
  opacity: 0.8;
}

.fa-illu:before {
  background-image: url(../img/icons/illu.svg);
}

.fa-toshop:before {
  background-image: url(../img/icons/toshop.svg);
}

.fa-gulp:before {
  background-image: url(../img/icons/gulp.png);
}

.fa-compass:before {
  background-image: url(../img/icons/compass.png);
  opacity: 0.7;
}

.fa-composer:before {
  background-image: url(../img/icons/composer.png);
  opacity: 0.7;
}

.fa-npm:before {
  background-image: url(../img/icons/npm.png);
}

/* end wrapper page section */
/* ======================================= 
Header Section 
========================================== */
/* wrapper portrait section */
.portrait {
  min-height: 400px;
  background: white;
  text-align: center;
  border-bottom: 20px solid #e1e1e1;
  padding-bottom: 25px;
  margin-bottom: 10px;
}

.portrait .img-arrow {
  display: none;
  max-width: 30px;
}

.portrait #open-content {
  min-width: 130px;
}

.portrait .box-note {
  position: relative;
  max-width: 350px;
  margin: 30px auto;
  background: #249ebd;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
}

.portrait .box-note:after {
  content: "";
  border-top: 10px solid #249ebd;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  margin-left: -10px;
  left: 50%;
  bottom: -10px;
}

.portrait .portrait-img-area {
  width: 160px;
  margin: 0 auto;
  position: relative;
}

.portrait .portrait-img-area .avatar {
  width: 140px;
  border-radius: 50%;
}

.portrait .portrait-img-area .profile-links a {
  position: absolute;
  width: 30px;
  padding: 3px;
  border-radius: 50%;
  background: #e1e1e1;
  font-size: 12px;
}

.portrait .portrait-img-area .profile-links a.linkedin {
  left: -10px;
  bottom: 0;
  background: #2C92AC;
  color: white;
}

.portrait .portrait-img-area .profile-links a.github {
  right: -10px;
  bottom: 0;
  background: #2C92AC;
  color: white;
}

.portrait .name {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 20px;
  font-weight: 700;
}

.portrait .name small {
  display: block;
  font-size: 16px;
  letter-spacing: 3px;
}

/* end portrait section */
/* ======================================= 
Main Section Section 
========================================== */
/* wrapper for content section */
#main-content {
  display: block;
  position: relative;
}

.content {
  background: white;
  padding-top: 80px;
}

/* end content section */
/* Start: ;wrapper for navigation section*/
#navigation {
  width: 100%;
  z-index: 99;
  top: 0;
  overflow: hidden;
}

#navigation.autofix_sb.fixed {
  position: fixed !important;
  left: auto;
  top: 0 !important;
  right: auto;
  bottom: auto;
  overflow: auto;
  max-width: 1140px;
}

#navigation.autofix_sb.fixed .navigation-list {
  position: relative;
}

@media (max-width: 765px) {
  #navigation.autofix_sb.fixed {
    padding-left: 15px;
    padding-right: 15px;
  }
}
#navigation .navigation-list {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  margin-bottom: 30px;
  position: absolute;
  top: 0;
  width: 100%;
}

#navigation .navigation-list li {
  text-align: center;
}

#navigation .navigation-list li a {
  display: block;
  padding: 15px;
  background: #2C92AC;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
}

#navigation .navigation-list li:nth-child(even).active:after {
  border-top: 10px solid #63a4b5;
}

#navigation .navigation-list li:nth-child(even) a {
  background: #63a4b5;
}

#navigation .navigation-list li.active:after {
  content: "";
  border-top: 10px solid #2C92AC;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  margin-left: -10px;
  left: 50%;
  bottom: -10px;
}

#navigation .navigation-list li.active a {
  color: white;
  font-weight: 400;
}

@media (max-width: 990px) {
  #navigation .navigation-list {
    max-width: 720px;
  }
}
@media (max-width: 650px) {
  #navigation .navigation-list span {
    display: none;
  }
}
/* End wrapper for navigation section*/
/* Start Stlye wrapper for resume content section*/
#resume hr {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#resume .work-path {
  border-right: 2px dashed;
}

#resume .time-line {
  position: relative;
  margin-top: 30px;
  clear: both;
}

#resume .time-line .item-event {
  position: relative;
  padding-left: 15px;
  border-left: 3px solid #e1e1e1;
  margin-left: 25px;
  padding-bottom: 30px;
  padding-top: 10px;
}

#resume .time-line .item-event.current .date {
  border: 5px solid #4B6F78;
  background: #4B6F78;
}

#resume .time-line .item-event.current .event-content {
  border: 3px solid #4B6F78;
}

#resume .time-line .item-event .date {
  position: absolute;
  left: -32px;
  top: -10px;
  border-radius: 50%;
  background: #63a4b5;
  display: inline-block;
  padding: 12px 7px;
  text-align: center;
  z-index: 2;
  font-weight: bold;
  color: white;
  font-size: 16px;
  border: 5px solid #fff;
}

#resume .time-line .item-event .event-content {
  position: relative;
  border: 3px solid #e1e1e1;
  padding: 10px 20px;
  border-radius: 0 10px 10px;
}

#resume .time-line .item-event .event-content h5 {
  text-transform: uppercase;
  font-weight: 700;
  color: #63a4b5;
}

#resume .caption-skill {
  display: block;
}

#resume .list-nobar .caption-skill {
  margin-bottom: 0.7rem;
}
#resume .list-nobar .title {
  margin-bottom: 2rem;
}

#resume .list-skills li .progress {
  height: 10px;
  box-shadow: none;
  overflow: inherit;
}

#resume .list-skills li .progress .progress-bar {
  border-radius: 5px;
  text-align: right;
  position: relative;
  background: #63a4b5;
  box-shadow: none;
}

#resume .list-skills li .progress .progress-bar span {
  position: relative;
  bottom: -15px;
  font-size: 10px;
  color: white;
  right: -13px;
  display: inline-block;
  background: #D84E4E;
  padding: 0px 3px;
  border-radius: 5px;
}

#resume .list-skills li .progress .progress-bar span:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -5px;
  border-bottom: 5px solid #D84E4E;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

#resume .list-skills li:nth-child(even) .progress-bar {
  background: #4B6F78;
}

#resume .list-points-progress li .progress-point {
  background: url("../images/point.png") repeat-x;
  height: 20px;
  max-width: 300px;
  position: relative;
  margin-bottom: 20px;
}

#resume .list-points-progress li .progress-point .point-indicator {
  position: absolute;
  background: #4B6F78;
  width: 30px;
  height: 21px;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  color: white;
  right: -40px;
  top: 0;
  border-radius: 5px;
}

#resume .list-points-progress li .progress-point .point-indicator:before {
  content: "";
  position: absolute;
  left: -5px;
  top: 50%;
  margin-top: -5px;
  border-right: 5px solid #4B6F78;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

#resume .list-points-progress li .progress-point .progress-bar-point {
  background: #BA4E4E;
  height: 20px;
  position: relative;
}

#resume .list-points-progress li .progress-point .progress-bar-point:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  background: url("../images/point2.png") repeat-x;
}

/* End Stlye wrapper for about content section*/
/* Start Stlye wrapper for portfolio content section*/
#portfolio .control-profolio {
  margin-top: 30px;
}

#portfolio .control-profolio li {
  padding: 5px 15px;
  border: 3px solid #e1e1e1;
  margin-bottom: 5px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

#portfolio .control-profolio li.active,
#portfolio .control-profolio li:hover {
  border: 3px solid #63a4b5;
  cursor: pointer;
}

#portfolio .grid-portfolio {
  width: 100%;
  margin-left: 4px;
}

#portfolio .grid-portfolio .mix {
  display: none;
  opacity: 0;
  width: 33.3333%;
  margin-left: -3px;
}

@media (max-width: 700px) {
  #portfolio .grid-portfolio .mix {
    width: 50%;
  }
}
@media (max-width: 550px) {
  #portfolio .grid-portfolio .mix {
    width: 100%;
  }
}
#portfolio .grid-portfolio .item-portfolio {
  margin: 15px;
}

#portfolio .grid-portfolio .item-portfolio a.preview-portfolio {
  position: relative;
  display: block;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

#portfolio .grid-portfolio .item-portfolio a.preview-portfolio .mask {
  position: absolute;
  background: rgba(58, 90, 117, 0.5);
  top: -100%;
  width: 100%;
  height: 50%;
  border-bottom: 3px solid #aaea07;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

#portfolio .grid-portfolio .item-portfolio a.preview-portfolio .mask .icn-center {
  position: absolute;
  bottom: -5px;
  z-index: 2;
  color: #333;
  font-size: 30px;
  left: 50%;
  background: #B4FF00;
  padding: 3px;
  width: 50px;
  text-align: center;
  margin-left: -25px;
}

#portfolio .grid-portfolio .item-portfolio a.preview-portfolio .mask .icn-center:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  border-bottom: 10px solid #B4FF00;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

#portfolio .grid-portfolio .item-portfolio a.preview-portfolio .mask .icn-center:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  border-top: 10px solid #B4FF00;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

#portfolio .grid-portfolio .item-portfolio a.preview-portfolio:hover .mask {
  top: 0;
}

#portfolio .grid-portfolio .item-portfolio .desc-portfolio {
  padding: 15px 20px;
  border: 1px solid #e1e1e1;
  text-align: center;
}

#portfolio .grid-portfolio .item-portfolio .desc-portfolio h5 {
  font-weight: bold;
  margin: 0;
  line-height: 30px;
  padding: 0;
}

#portfolio .grid-portfolio .item-portfolio .desc-portfolio h5 small {
  display: block;
  margin-bottom: 10px;
}

/* End Stlye wrapper for portfolio content section*/
#contact .map-area {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 450px;
}

#contact .map-area #map {
  min-height: 450px;
  width: 100%;
}

#contact .map-area .info-map {
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 150px;
  width: 100%;
  z-index: 3;
  max-width: 300px;
  padding: 20px;
  background: #f2f2f2;
}

#contact .map-area .info-map h3 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
}

#contact .map-area .info-map .list-info {
  margin-bottom: 0;
}

#contact .map-area .info-map .list-info li {
  position: relative;
  padding-left: 20px;
}

#contact .map-area .info-map .list-info li i.fa {
  position: absolute;
  left: 0;
  top: 5px;
}

/*Global CLass */
.form-control {
  border: 3px solid #e1e1e1;
  padding: 10px;
  min-height: 50px;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  border: 3px solid #63a4b5;
}

.title {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.title.with-icon {
  padding-left: 50px;
}

.title .icn-title {
  margin-right: 5px;
  display: inline-block;
  padding-bottom: 10px;
  position: absolute;
  left: 0;
  background: #249ebd;
  padding: 10px;
  color: white;
  min-width: 40px;
  text-align: center;
  top: -6px;
  min-height: 40px;
  padding-bottom: 13px;
  border-radius: 5px;
}

.title .icn-title:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -10px;
  border-top: 10px solid #249ebd;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.mini-desc,
.img-profile,
.identity-area,
.box-block {
  margin-bottom: 30px;
  margin-top: 15px;
}

@media (max-width: 900px) {
  .mini-desc {
    text-align: center !important;
  }
}
.img-responsive {
  display: inline-block;
}

.deviter {
  height: 1px;
  margin: 10px 0;
  border-bottom: 1px dashed #ddd;
}

.bg-line {
  height: 15px;
  background: #e1e1e1 repeat-x center bottom;
}

.body-content,
.body-portrait {
  padding: 0 20px;
  min-height: 350px;
  position: relative;
}
.body-content .quick-contact,
.body-portrait .quick-contact {
  display: none;
}

.body-content {
  padding-bottom: 40px;
  min-height: 800px;
}

.btn-flat {
  background: #BA4E4E;
  box-shadow: 0 5px 0 #a63838;
  color: white;
  font-weight: 300;
  padding-left: 20px;
  border-radius: 5px;
  margin-top: 5px;
  padding-right: 20px;
  position: relative;
  margin-bottom: 5px;
}

.btn-flat:hover,
.btn-flat:focus,
.btn-flat.active,
.btn-flat.style2:hover {
  color: white;
  bottom: -5px;
  box-shadow: none;
}

.btn-flat.style2 {
  background: #63a4b5;
  box-shadow: 0 5px 0 #5b94a3;
}

.imgWrapper {
  position: relative;
  display: block;
}

.imgWrapper img {
  width: 100%;
}

.imgWrapper .playbtn {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -40px;
  left: 0;
  height: 60px;
  text-align: center;
}

.imgWrapper .playbtn a {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  color: #5A96A6;
}

.imgWrapper .playbtn a:hover {
  color: #BA4E4E;
}

.list-strip li {
  color: white;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 5px;
  background: #4B6F78;
}

.list-strip li:nth-child(even) {
  background: #BA4E4E;
}

blockquote {
  line-height: 30px;
  color: #7F7F93;
  font-weight: 700;
  margin-top: 20px;
}

.bold {
  font-weight: 700;
}

#wait-page {
  color: white;
  padding: 100px 10px;
  font-size: 30px;
  font-weight: 700;
}

/*End: ;Global CLass */
/* ======================================= 
Footer Section 
========================================== */
/* wrapper footer section */
.footer {
  text-align: center;
  color: white;
  font-weight: 300;
  position: relative;
  z-index: 2;
  font-size: 12px;
  padding: 20px;
}

/* end warapper footer section */
