///////////////
// Layout //
/////////////
$mainFont:		Arial, Helvetica, sans-serif;
$titleFont:		'Bree Serif', serif;
$baseFontSize:	1rem;

/////////////
// Color //
///////////
$mainColor:		black;

////////////
// Fond //
//////////


/////////////
// Other //
////////////
