///////////////
// Layout //
/////////////
$mainFont:		Arial, Helvetica, sans-serif;
$titleFont:		'Bree Serif', serif;
$baseFontSize:	1rem;

/////////////
// Color //
///////////
$mainColor:		black;

////////////
// Fond //
//////////
$blue:#249ebd;
$lightblue:#63a4b5;
$darkblue:#4B6F78;
$red:#D84E4E;
$lightred:#BA4E4E;
/////////////
// Other //
////////////
