Options +FollowSymlinks
Options -Indexes

# ######### #
# Jiedara settings #
# ######## #


 <IfModule mod_rewrite.c> 
     RewriteEngine On
 
     # Redirect Trailing Slashes...
     RewriteRule ^(.*)/$ /$1 [L,R]
 
     # Handle Front Controller...
     RewriteCond %{REQUEST_FILENAME} !-d
     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteRule ^ index.php [L]
 </IfModule>
 