@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-irbfon');
	src:url('fonts/icomoon.eot?#iefix-irbfon') format('embedded-opentype'),
		url('fonts/icomoon.woff?-irbfon') format('woff'),
		url('fonts/icomoon.ttf?-irbfon') format('truetype'),
		url('fonts/icomoon.svg?-irbfon#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-noun_3060_cc:before {
	content: "\e600";
}
.icon-noun_3061_cc:before {
	content: "\e601";
}
.icon-noun_3062_cc:before {
	content: "\e602";
}
.icon-noun_3070_cc:before {
	content: "\e603";
}
.icon-noun_5068_cc:before {
	content: "\e604";
}
.icon-noun_20301_cc:before {
	content: "\e605";
}
.icon-noun_20721_cc:before {
	content: "\e606";
}
.icon-noun_21898_cc:before {
	content: "\e607";
}
.icon-noun_52373_cc:before {
	content: "\e608";
}
.icon-noun_74409_cc:before {
	content: "\e609";
}
.icon-noun_79782_cc:before {
	content: "\e60a";
}
.icon-home:before {
	content: "\e60b";
}
.icon-newspaper:before {
	content: "\e60c";
}
.icon-pencil:before {
	content: "\e60d";
}
.icon-quill:before {
	content: "\e60e";
}
.icon-image:before {
	content: "\e60f";
}
.icon-image2:before {
	content: "\e610";
}
.icon-images:before {
	content: "\e611";
}
.icon-camera:before {
	content: "\e612";
}
.icon-music:before {
	content: "\e613";
}
.icon-headphones:before {
	content: "\e614";
}
.icon-play:before {
	content: "\e615";
}
.icon-film:before {
	content: "\e616";
}
.icon-camera2:before {
	content: "\e617";
}
.icon-dice:before {
	content: "\e618";
}
.icon-pacman:before {
	content: "\e619";
}
.icon-spades:before {
	content: "\e61a";
}
.icon-clubs:before {
	content: "\e61b";
}
.icon-diamonds:before {
	content: "\e61c";
}
.icon-connection:before {
	content: "\e61d";
}
.icon-podcast:before {
	content: "\e61e";
}
.icon-books:before {
	content: "\e61f";
}
.icon-library:before {
	content: "\e620";
}
.icon-file:before {
	content: "\e621";
}
.icon-profile:before {
	content: "\e622";
}
.icon-file2:before {
	content: "\e623";
}
.icon-file3:before {
	content: "\e624";
}
.icon-file4:before {
	content: "\e625";
}
.icon-copy:before {
	content: "\e626";
}
.icon-copy2:before {
	content: "\e627";
}
.icon-copy3:before {
	content: "\e628";
}
.icon-paste:before {
	content: "\e629";
}
.icon-paste2:before {
	content: "\e62a";
}
.icon-paste3:before {
	content: "\e62b";
}
.icon-stack:before {
	content: "\e62c";
}
.icon-folder:before {
	content: "\e62d";
}
.icon-folder-open:before {
	content: "\e62e";
}
.icon-tag:before {
	content: "\e62f";
}
.icon-tags:before {
	content: "\e630";
}
.icon-barcode:before {
	content: "\e631";
}
.icon-qrcode:before {
	content: "\e632";
}
.icon-ticket:before {
	content: "\e633";
}
.icon-cart:before {
	content: "\e634";
}
.icon-cart2:before {
	content: "\e635";
}
.icon-cart3:before {
	content: "\e636";
}
.icon-phone:before {
	content: "\e637";
}
.icon-address-book:before {
	content: "\e638";
}
.icon-notebook:before {
	content: "\e639";
}
.icon-envelope:before {
	content: "\e63a";
}
.icon-location:before {
	content: "\e63b";
}
.icon-location2:before {
	content: "\e63c";
}
.icon-alarm:before {
	content: "\e63d";
}
.icon-bell:before {
	content: "\e63e";
}
.icon-stopwatch:before {
	content: "\e63f";
}
.icon-calendar:before {
	content: "\e640";
}
.icon-print:before {
	content: "\e641";
}
.icon-keyboard:before {
	content: "\e642";
}
.icon-screen:before {
	content: "\e643";
}
.icon-laptop:before {
	content: "\e644";
}
.icon-mobile:before {
	content: "\e645";
}
.icon-mobile2:before {
	content: "\e646";
}
.icon-tablet:before {
	content: "\e647";
}
.icon-tv:before {
	content: "\e648";
}
.icon-box-add:before {
	content: "\e649";
}
.icon-box-remove:before {
	content: "\e64a";
}
.icon-download:before {
	content: "\e64b";
}
.icon-upload:before {
	content: "\e64c";
}
.icon-disk:before {
	content: "\e64d";
}
.icon-storage:before {
	content: "\e64e";
}
.icon-undo:before {
	content: "\e64f";
}
.icon-redo:before {
	content: "\e650";
}
.icon-undo2:before {
	content: "\e651";
}
.icon-redo2:before {
	content: "\e652";
}
.icon-forward:before {
	content: "\e653";
}
.icon-reply:before {
	content: "\e654";
}
.icon-bubble:before {
	content: "\e655";
}
.icon-bubbles:before {
	content: "\e656";
}
.icon-bubbles2:before {
	content: "\e657";
}
.icon-bubble2:before {
	content: "\e658";
}
.icon-bubbles3:before {
	content: "\e659";
}
.icon-bubbles4:before {
	content: "\e65a";
}
.icon-user:before {
	content: "\e65b";
}
.icon-users:before {
	content: "\e65c";
}
.icon-user2:before {
	content: "\e65d";
}
.icon-users2:before {
	content: "\e65e";
}
.icon-user3:before {
	content: "\e65f";
}
.icon-user4:before {
	content: "\e660";
}
.icon-quotes-left:before {
	content: "\e661";
}
.icon-spinner:before {
	content: "\e662";
}
.icon-spinner2:before {
	content: "\e663";
}
.icon-spinner3:before {
	content: "\e664";
}
.icon-spinner4:before {
	content: "\e665";
}
.icon-binoculars:before {
	content: "\e666";
}
.icon-search:before {
	content: "\e667";
}
.icon-zoomin:before {
	content: "\e668";
}
.icon-zoomout:before {
	content: "\e669";
}
.icon-expand:before {
	content: "\e66a";
}
.icon-contract:before {
	content: "\e66b";
}
.icon-expand2:before {
	content: "\e66c";
}
.icon-contract2:before {
	content: "\e66d";
}
.icon-lock:before {
	content: "\e66e";
}
.icon-unlocked:before {
	content: "\e66f";
}
.icon-wrench:before {
	content: "\e670";
}
.icon-settings:before {
	content: "\e671";
}
.icon-equalizer:before {
	content: "\e672";
}
.icon-cog:before {
	content: "\e673";
}
.icon-cogs:before {
	content: "\e674";
}
.icon-cog2:before {
	content: "\e675";
}
.icon-bug:before {
	content: "\e676";
}
.icon-pie:before {
	content: "\e677";
}
.icon-stats:before {
	content: "\e678";
}
.icon-bars:before {
	content: "\e679";
}
.icon-gift:before {
	content: "\e67a";
}
.icon-trophy:before {
	content: "\e67b";
}
.icon-mug:before {
	content: "\e67c";
}
.icon-fire:before {
	content: "\e67d";
}
.icon-lab:before {
	content: "\e67e";
}
.icon-remove:before {
	content: "\e67f";
}
.icon-powercord:before {
	content: "\e680";
}
.icon-cloud-download:before {
	content: "\e681";
}
.icon-cloud-upload:before {
	content: "\e682";
}
.icon-download2:before {
	content: "\e683";
}
.icon-upload2:before {
	content: "\e684";
}
.icon-globe:before {
	content: "\e685";
}
.icon-earth:before {
	content: "\e686";
}
.icon-link:before {
	content: "\e687";
}
.icon-flag:before {
	content: "\e688";
}
.icon-attachment:before {
	content: "\e689";
}
.icon-eye:before {
	content: "\e68a";
}
.icon-eye-blocked:before {
	content: "\e68b";
}
.icon-bookmark:before {
	content: "\e68c";
}
.icon-star:before {
	content: "\e68d";
}
.icon-star2:before {
	content: "\e68e";
}
.icon-star3:before {
	content: "\e68f";
}
.icon-heart:before {
	content: "\e690";
}
.icon-heart2:before {
	content: "\e691";
}
.icon-close:before {
	content: "\e692";
}
.icon-enter:before {
	content: "\e693";
}
.icon-play2:before {
	content: "\e694";
}
.icon-pause:before {
	content: "\e695";
}
.icon-stop:before {
	content: "\e696";
}
.icon-volume-high:before {
	content: "\e697";
}
.icon-volume-medium:before {
	content: "\e698";
}
.icon-volume-low:before {
	content: "\e699";
}
.icon-arrow-up-left:before {
	content: "\e69a";
}
.icon-arrow-up:before {
	content: "\e69b";
}
.icon-arrow-up-right:before {
	content: "\e69c";
}
.icon-arrow-right:before {
	content: "\e69d";
}
.icon-arrow-down-right:before {
	content: "\e69e";
}
.icon-arrow-down:before {
	content: "\e69f";
}
.icon-arrow-down-left:before {
	content: "\e6a0";
}
.icon-arrow-left:before {
	content: "\e6a1";
}
.icon-embed:before {
	content: "\e6a2";
}
.icon-code:before {
	content: "\e6a3";
}
.icon-console:before {
	content: "\e6a4";
}
.icon-share:before {
	content: "\e6a5";
}
.icon-google-drive:before {
	content: "\e6a6";
}
.icon-facebook:before {
	content: "\e6a7";
}
.icon-twitter:before {
	content: "\e6a8";
}
.icon-deviantart:before {
	content: "\e6a9";
}
.icon-steam:before {
	content: "\e6aa";
}
.icon-wordpress:before {
	content: "\e6ab";
}
.icon-tux:before {
	content: "\e6ac";
}
.icon-apple:before {
	content: "\e6ad";
}
.icon-finder:before {
	content: "\e6ae";
}
.icon-android:before {
	content: "\e6af";
}
.icon-windows:before {
	content: "\e6b0";
}
.icon-soundcloud:before {
	content: "\e6b1";
}
.icon-skype:before {
	content: "\e6b2";
}
.icon-reddit:before {
	content: "\e6b3";
}
.icon-linkedin:before {
	content: "\e6b4";
}
.icon-pinterest:before {
	content: "\e6b5";
}
.icon-libreoffice:before {
	content: "\e6b6";
}
.icon-file-pdf:before {
	content: "\e6b7";
}
.icon-file-openoffice:before {
	content: "\e6b8";
}
.icon-file-word:before {
	content: "\e6b9";
}
.icon-file-excel:before {
	content: "\e6ba";
}
.icon-file-zip:before {
	content: "\e6bb";
}
.icon-file-powerpoint:before {
	content: "\e6bc";
}
.icon-file-xml:before {
	content: "\e6bd";
}
.icon-file-css:before {
	content: "\e6be";
}
.icon-html5:before {
	content: "\e6bf";
}
.icon-html52:before {
	content: "\e6c0";
}
.icon-css3:before {
	content: "\e6c1";
}
.icon-chrome:before {
	content: "\e6c2";
}
.icon-firefox:before {
	content: "\e6c3";
}
.icon-IE:before {
	content: "\e6c4";
}
.icon-opera:before {
	content: "\e6c5";
}
.icon-safari:before {
	content: "\e6c6";
}
